language: python
sudo: required

# look at https://github.com/pypa/pip for examples?
# https://docs.travis-ci.com/user/multi-os/
python:
  - "3.6"
# virtualenv:
  # system_site_packages: true
# matrix:
  # include:
    # - python: 2.7
    #   env: PYTHONPATH="$PYTHONPATH:/usr/lib/python2.7/dist-packages"
    # - python: 3.3
    #   env: PYTHONPATH="$PYTHONPATH:/usr/lib/python3/dist-packages"
# addons:
#   apt:
#     packages:
#       - python-dbus
#       - python3-dbus
#       - python-gi
#       - python3-gi
before_install:
  # sudo apt-get update -qq
  # sudo apt-get install -qq python-dbus python3-dbus python-gi python3-gi
  # install dbusmock from github
  # ./install_dbusmock.sh
install:
  # - pip install --upgrade pip
  - pip install pycodestyle
  - pip install coverage
  # Install released version of dbusmock
  # - pip install python-dbusmock
before_script:
  # - .travis/setup.sh
  # - echo "Travis Python Version ***********"
  # - echo $TRAVIS_PYTHON_VERSION
  # - echo $PYTHONPATH
  # If dbusmock installed from github
  - export PYTHONPATH=$PYTHONPATH:/tmp/python-dbusmock-bluez_gatt
script:
  - coverage run -m unittest -v tests.test_tools
  - coverage run --append -m unittest -v tests.test_adapter
  - coverage run --append -m unittest -v tests.test_device
  - coverage run --append -m unittest -v tests.test_gatt
  - "pycodestyle bluezero"
  - "pycodestyle examples"
  - "pycodestyle tests"
after_success:
  #
  - CODECLIMATE_REPO_TOKEN=<token> codeclimate-test-reporter