# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: bluezero-tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install python dependencies
      run: |
        /usr/bin/python3 -m pip install --upgrade pip
        /usr/bin/python3 -m pip install setuptools
        /usr/bin/python3 -m pip install .[test]
        if [ -f requirements.txt ]; then /usr/bin/python3 -m pip install -r requirements.txt; fi
    - name: Lint with pycodestyle
      run: |
        /usr/bin/python3 -m pycodestyle -v bluezero
        /usr/bin/python3 -m pycodestyle -v examples
    - name: Test with unittest
      run: |
        echo PYTHONPATH $PYTHONPATH
        echo LD_LIBRARY_PATH $LD_LIBRARY_PATH
        /usr/bin/python3 -m unittest -v tests.test_tools
        /usr/bin/python3 -m unittest -v tests.test_async_tools
        /usr/bin/python3 -m unittest -v tests.test_dbus_tools
        /usr/bin/python3 -m unittest -v tests.test_adapter
        /usr/bin/python3 -m unittest -v tests.test_advertisement
        /usr/bin/python3 -m unittest -v tests.test_device
        /usr/bin/python3 -m unittest -v tests.test_gatt
        /usr/bin/python3 -m unittest -v tests.test_broadcaster
        /usr/bin/python3 -m unittest -v tests.test_central
        /usr/bin/python3 -m unittest -v tests.test_observer
        /usr/bin/python3 -m unittest -v tests.test_peripheral
        /usr/bin/python3 -m unittest -v tests.test_eddystone
        /usr/bin/python3 -m unittest -v tests.test_microbit
        /usr/bin/python3 -m unittest -v tests.test_adapter_example
        /usr/bin/python3 -m unittest -v tests.test_adapter_example_db_mock
        /usr/bin/python3 -m unittest -v tests.test_eddystone_scanner_example
        /usr/bin/python3 -m unittest -v tests.test_beacon_db_mock
        /usr/bin/python3 -m unittest -v tests.test_microbit_poll_example
        /usr/bin/python3 -m unittest -v tests.test_find_microbit_db_mock
        /usr/bin/python3 -m unittest -v tests.test_find_microbit_db_mock
